* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 80px;
	font-family: 'Times New Roman', Times, serif;
	margin-top: -110px;
	margin-bottom: -15px;
	color: #0e043e;
	text-shadow: 3px  0px 0px white,
	0px  3px 0px white,
   -3px  0px 0px white,
	0px -3px 0px white;
}

.h2_class{
	text-align: center;
	font-size: 50px;
}

.title_center{
	border-radius: 40px;
	color: #f4f8f9;
	background-color:  #dfba69;
	width: 800px;
	justify-items: center;
	margin:0px auto;
}

.subtitle_center{
	border-radius: 40px;
	color: #f4f8f9;
	background-color:  #33cc77;
	width: 400px;
	justify-items: center;
	margin:0px auto;
}

.search{
	border-radius: 40px;
	font-size: 23px;
	width: 300px;
	justify-items: center;
	margin:0px auto;
	border: 1px solid black;
}

.btn_search{
	border-radius: 25px;
	width: 100px;
	font-size: 23px;
	justify-items: center;
	margin:0px auto;
	background-color: #d1c7c7;
}

.btn_search:hover{
	box-shadow: 3px 8px 8px #06d7f7;
}

#font_create{
	font-size: 25px;
}

#back_btn{
	background-color: #495459;
	color: white;
	height: 50px;
	width: 140px;
	float: right;
	margin: 20px;
	font-size: 35px;
	border-radius: 20px;
}

#back_btn:hover{
	box-shadow: 3px 8px 8px #496de1;
}

#back_btn_new{
	background-color: #495459;
	color: white;
	height: 50px;
	width: 140px;
	margin: 20px;
	font-size: 35px;
	border-radius: 20px;
}

#back_btn_new:hover{
	box-shadow: 3px 8px 8px #fa091d;
}

#create_btn{
	background-color: #495459;
	color: white;
	height: 50px;
	width: 140px;
	margin: 20px;
	font-size: 35px;
	border-radius: 20px;
}

#create_btn:hover{
	box-shadow: 3px 8px 8px #49c8e1;
}

body {
	background-color: #c0c0c0;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.5;
	min-block-size: 100vh;
	padding: 5vmin;
	margin: 0;
	
}

input {
	background-image: none;
	border: none;
	font: inherit;
	margin: 0;
	padding: 0;
	transition: all 0.3s;
}

svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/* ---------- ALIGN ---------- */
.align {
	display: grid;
	place-items: center;
}

/* ---------- BUTTON ---------- */

.button {
	background-color: #33cc77;
	color: #fff;
	padding: 0.25em 1.5em;
}

.button:focus,
.button:hover {
	background-color: #33cc77;
}

/* ---------- ICONS ---------- */
.icons {
	display: none;
}

.icon {
	fill: currentcolor;
	display: inline-block;
	height: 1em;
	width: 1em;
}

/* ---------- LOGIN ---------- */
.login {
	width: 400px;
	border-radius: 20px;
	font-size: 15 px;
}

.login:hover {
	box-shadow: 3px 8px 30px #f9f7f7;
}

.login__header {
	background-color: #f95252;
	border-top-left-radius: 1.25em;
	border-top-right-radius: 1.25em;
	color: #fff;
	padding: 1.25em 1.625em;
}

.login__header :first-child {
	margin-top: 0;
}

.login__header :last-child {
	margin-bottom: 0;
}

.login h2 .icon {
	margin-right: 14px;
}

.login__form {
	background-color: #fff;
	border-bottom-left-radius: 1.25em;
	border-bottom-right-radius: 1.25em;
	color: #777;
	display: grid;
	gap: 0.875em;
	padding: 1.25em 1.625em;
}

.login input {
	border-radius: 0.1875em;
}

.login input[type="email"],
.login input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 0.25em 0.625em;
	width: 100%;
}

.login input[type="submit"] {
	display: block;
	margin: 0 auto;
}

 
a:hover{
	color: #f95252;
}

a:link, a:visited { color: #496de1; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #1447ef; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


#templatemo_container{
	
	margin: 0 auto;
	background: white ;
	border-radius: 10px;

}


/* menu */

#templatemo_menu {
	height: 70px;
	width: auto;
	background-color: #e3dfdf;
	border-radius: 10px;
	background-color: #493f7b;
}

#templatemo_menu li{
	display:contents;
	height: auto;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: #33cc77;
	border-radius: 5px;
	margin: 15px 20px;
	transition: 0.5s;
	
}

#templatemo_menu ul li a:hover{
	color: white;
	text-decoration: dotted;
	background-color: #dfba69;
	border-radius: 5px;
	transform: scale(1.1,1.1)
}

#templatemo_menu li a, #templatemo_menu li .current{
	background-color: #493f7b;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	width: auto;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url("https://blog.vicensvives.com/wp-content/uploads/2018/11/Evolucion-librerias-1.jpg") no-repeat;
	background-size: 100%;
	background-position: center;
	justify-content: center;
	justify-items: center
}

/* end of header */


/* content */
.cont {margin: 0 auto; width: 720px;}

#templatemo_content {
	clear: both;
	display: flex;
	justify-content: center;
	justify-items: center;
	text-align: center;
	overflow: hidden;
	background: url("https://media.istockphoto.com/id/929023224/es/vector/fondo-transparente-con-libros.jpg?b=1&s=612x612&w=0&k=20&c=mThKUVyZPE5ORgrrPtePoahnkjNJ6i7h8tYfG0CW4MM=");
}


#templatemo_content_right .content_new {
	width: 225px;
	height: 280px;
	padding: 10px;
	display:inline-block;
	padding: 10px;
	background-color: #ebe6ec;
	border-radius: 15px;
  	font-size: 30px;
	transition: 0.5s;
	margin: 15px 20px;
	color: #7e4a4a;
}


#templatemo_content_new {
	font-size: 27px;
	clear: both;
	width: 1700px;
	text-align: center;
	gap: 1rem;
	overflow: hidden;
	
}

#templatemo_content_new table{
	font-size: 15px;
	text-align: center;
}

#templatemo_content_right {
	
	justify-content: center;
	justify-items: center;
	overflow: hidden;

}

#templatemo_content_right .templatemo_product_box {
	display:inline-block;
	width: 470px;
	height: auto;
	padding: 10px;
	background-color: #ebe6ec;
	border-radius: 15px;
  	font-size: 17px;
	transition: 0.5s;
	margin: 15px 20px;
	color: #7e4a4a;
	
}

#templatemo_content_right .templatemo_product_box:hover {
	transform:translateY(-15px);
	box-shadow: 3px 8px 30px #496de1;
}

#templatemo_content_right .templatemo_product_box_detail {
	width: 225px;
	height: 180px;
	padding: 10px;
	display:inline-block;
	padding: 10px;
	background-color: #ebe6ec;
	border-radius: 15px;
  	font-size: 17px;
	transition: 0.5s;
	margin: 15px 20px;
	color: #7e4a4a;
}

#templatemo_content_right .templatemo_product_box_detail:hover {
	transform:translateY(-15px);
	box-shadow: 3px 8px 30px #496de1;
}

#templatemo_content_right .templatemo_product_box_history {
	display:inline-block;
	width: 405px;
	height: 380px;
	padding: 10px;
	background-color: #ebe6ec;
	border-radius: 15px;
	font-size: 17px;
	transition: 0.5s;
	margin: 15px 20px;
	color: #7e4a4a;
}

#templatemo_content_right .templatemo_product_box_history:hover {
	transform:translateY(-15px);
	box-shadow: 3px 8px 30px #496de1;
}


#templatemo_content_right h3 {
	padding: 0;
	margin: 20px 40px 20px 0;
	font-size: 18px;
	margin-left: 10px;
}

.h3_delete{
	color: red;
	text-decoration : none;
}

table {
	table-layout: fixed;
	width: 100%;
  }
  
   td {
	padding: 10px;
	background-color: #e3dfdf;
	border-radius: 20px;
	overflow:hidden ;
  }
  th {
	border-radius: 20px;
	font-size: 10px;
	color: white;
  }

  .title_book_table{
	background-color: #dfba69;
	height: 100px;
	align-items: center;
	text-align: center;
	font-size: 20px;
  }

  .title_detail_table{
	background-color: #dfba69;
	height: 50px;
	align-items: center;
	text-align: center;
	font-size: 20px;
  }

  .button_borrow{
	background-color: #33cc77;
	height: 40px;
	color:white;
	font-size: 20px;
	transition: 0.5s;
	border-radius: 70px;
	cursor: pointer;
  }

  .button_borrow:hover{
	transform:scale(1.1,1.1)
  }

  .send_borrow{
	background-color: #33cc77;
	height: 40px;
	color:white;
	font-size: 20px;
	width: 450px;
	border-radius: 70px;
	text-align: center;
	cursor: pointer;
	text-decoration : none;
	transition: 0.5s;
  }

  .send_borrow:hover{
	transform:scale(1.1,1.1)
  }

  .return_book{
	background-color: #33cc77;
	height: 40px;
	color:white;
	font-size: 20px;
	width: 380px;
	border-radius: 70px;
	text-align: center;
	cursor: pointer;
	text-decoration : none;
	transition: 0.5s;
  }

  .return_book:hover{
	transform:scale(1.1,1.1)
  }

  .no_copies{
	background-color: #aba5a5;
	height: 40px;
	color:white;
	font-size: 20px;
	color:white;
	font-size: 20px;
	width: 450px;
	border-radius: 70px;
	text-align: center;
	cursor: pointer;
	text-decoration : none;
	
  }

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: auto;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
	cursor: pointer;
}
/* end of footer */
/* Spinner styles */
.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #000;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	animation: spin 1s linear infinite;
	display: none;
	margin: 20px auto;
  }
  
  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }
  .fade-in {
	animation: fadeIn ease 0.5s;
  }
  
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  #search_input {
	transition: border-color 0.3s ease-in-out;
  }
  
  #search_input:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  @keyframes slideIn {
	from {
	  transform: translateY(10px);
	  opacity: 0;
	}
	to {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  
  .slide-in {
	animation: slideIn 0.5s ease-out;
  }
		